<h1>Completed</h1>
<%if @test_passage.successful?%>
  <p style="color:green;">
    Congratulation! You have passed test. Your result: <b><%= @test_passage.success_ratio %>%</b>
  </p>
<% else %>
  <p style="color:red">
    Sorry! You have fallen test. Your result: <b><%= @test_passage.success_ratio %>%</b>
  </p>
<% end %>
