<footer>
  <%= year%>
  <strong>Alfonso Alexandr</strong>
  <a href=<%= github_url('thblackboy', 'testguru') %>>Проект TestGuru - Площадка тестов</a>
  <br>
  <a href="https://thinknetica.com">Учебный проект в онлайн-школе Thinknetica</a>
</footer>