.pointer {
  cursor: pointer;
}

.hide {
  display: none;
}

.success{
  border: 2px solid green;
}

.fail{
  border: 2px solid red;
}

.badge-image {
  margin: 10px;
  width: 150px;
  height: 150px;
  display: inline-flex;
  border: 2px solid yellow;
  border-radius: 15px;
}
