// Place all the styles related to the test_passages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.passage-progress-bar {
  width: 100%;
  border: 2px solid black;
  border-radius: 2px;
  height: 20px;
}

.passage-progress {
  height: 100%;
  background-color: green;
}

.test-passage-timer {
  margin: 5px;
  font-size: 30px;
}